<main>
<div class="container px-5 px-sm-0">
  <div class="row">
    
      
      <%= render 'left', books: @books %>
      
      
      
      <h2>Books</h2>
      <table>
        <tr>
          <th></th><th>Title</th><th>Opinion</th>
        </tr>
        <tr>
          <td>ユーザーのimg</td><td>本のタイトル<!--% @book.title %--></td><td>感想<!--% @book.body %--></td>
        </tr>
      </table>
      
      
    
  </div>
</div>
</main>