<main>
    <div class="container px-5 px-sm-0">
      <div class="row">


<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

        <%= render 'left', books: @books %>

      </div>
     </div>
</main>